.cc-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(lightblue,  blue);
    height: 100vh;
}

.ccheader {
    margin: 0%;
    padding: 10px;
    text-align: center;
    background: linear-gradient(yellow, lightblue);
}
/* h1, h2, h3, h4 {
    margin: 0%;
} */

#ccmain {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#search-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.search {
    display: flex;
}
#search-input {
    width: 100%; /* Adjust as needed */
    padding: 5px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
    width: 50%;
}

#secret {
    width: 100px;
}

#cat {
    width: 100%; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
}