/* OLD WEB HEADER */
/* OLD WEB HEADER */
/* OLD WEB HEADER */
.ow-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 50px 0px 50px;
    background-image: url(../../assets/images/black-wood.jpg);
    /* background-image: url(../../assets/backgrounds/blackrose.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-repeat: repeat-x; */
    height: auto;
}

.ow-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    background-color: black;
}
.heraldry {
    width: 300px;
}
#left {
    padding-left: 15px;
}
#right {
    padding-right: 15px;
}
.ow-h1-con {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ow-h1 {
    margin: 0;
    color: darkred;
}
.ow-p {
    color: white;
    margin-bottom: 50px;
}
#owp1 {
    margin: 10px 0 0 0;
}
/* OLD WEB SECTIONS */
/* OLD WEB SECTIONS */
/* OLD WEB SECTIONS */
.ow-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding-top: 10px;
    background-color: black;
}
/* LEFT */
/* LEFT */
.ow-section-left {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid white;
}
/* MID */
/* MID */
.ow-section-mid {
    display: flex;
    flex-direction: column;
    width: 55%;
    color: white;
}
.ow-section-mid p {
    margin-top: 0;
}
/* RIGHT */
/* RIGHT */
.ow-section-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 20px;
    border-left: 1px solid white;
}

/* MEDIA */
@media only screen
and (min-width : 0px)
and (max-width : 1248px) {
    .ow-h1 {
        font-size: 50px;
    }
    .divider {
        width: 50%;
    }
    .heraldry {
        width: 200px;
    }
}
@media only screen
and (min-height : 0px)
and (max-height : 1000px) {
    .mod-section-1,
    .mod-section-2,
    .mod-section-3,
    .mod-section-4,
    .mod-section-5 {
        padding-bottom: 350px;

    }
}
@media only screen
and (min-width : 0px)
and (max-width : 890px) {
    .ow-section-right {
        display: none;
    }
    .ow-section-left {
        display: none;
    }
    .heraldry {
        width: 100px;
    }
    #right,
    #left {
        padding: 0px;
    }
    .ow-section-mid {
        width: 100%;
        padding: 0 10px 0 10px;
    }
    .ow-p {
        margin-bottom: 20px;
    }
}
@media only screen
and (min-width : 0px)
and (max-width : 752px) {
    .ow-section-mid h2 {
        font-size: 20px;
    }
}
@media only screen
and (min-width : 0px)
and (max-width : 777px) {
    .ow-div {
        padding: 0px 10px 0px 10px;
    }
    .ow-h1 {
        font-size: 30px;
    }
}