header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px 0 20px;
    height: 90vh;
    /* background-image: url('./src/assets/backgrounds/bg-19.gif'); */
    /* background-image: url('./src/assets/backgrounds/back2.gif'); */
    background-color: #121212;
    background-size: cover;
    background-position: top;
    border-top: 1px dashed darkred;
    border-bottom: 1px dashed darkred;
}
nav {
    display: flex;
    gap: 5rem;
}
nav a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}
nav a:hover {
    color: red;
}
@keyframes fadeOut{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
@media (prefers-color-scheme: dark) {
    header {
        background-color: #121212;
        background-image: url('./src/assets/backgrounds/back-2.jpeg');
    }
    footer {
        background-color: #121212;
    }
    h1, h2 {
        color: white;
    }
    p {
        color: white;
    }
    section {
        background-color: #121212;
    }
    .glass-nav a {
        color: white;
    }
}
