header {
    display: flex;
    justify-content: center;
    background-image: url('./src/assets/backgrounds/bg-6.gif');
    background-size: 15rem;
    background-position: center;
    background-color: #121212;
    border-top: 1px dashed darkred;
    border-bottom: 1px dashed darkred;
}
.glass-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    align-items: center;
    margin: 10px 0 10px 0;
    gap: 1rem;
}
.glass-header {
    display: none;
}
.glass-header-active {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(15px);
    border-radius: 10px;
}
.logo {
    display: flex;
    width: 100%;
    height: 100px;
}
.title-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

nav {
    display: flex;
    padding-bottom: 10px;
    gap: 2rem;
}
.section-1 {
    height: 100%;
}

@media (prefers-color-scheme: dark) {
    header {
        background-color: #121212;
        background-image: url('./src/assets/backgrounds/bg-6.gif');
    }
    h1 {
        color: white;
    }
    .title-nav {
        color: white;
    }
    .section-1 {
        background-color: black;
    }
}
