.homepage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.e-main {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 50%;
    gap: 20px;
}
h3 {
    font-size: 50px;
    color: white;
    margin: 0;
}
.card {
    border: 1px solid white;
    width: 15%;
    transition: ease 0.5s;
}
.card:hover {
    width: 30%;
}
.enter-header {
    color: white;
}
footer {
    color: white;
}   