.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: rgb(28, 28, 28);
    gap: 90px;
    padding: 0 5% 0 5%;
}

.title p {
    color: white;
    font-family: fondamento, sans-serif;
    font-size: 2rem;
    margin: 0;
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 5% 0 5%;
    margin-top: 50px;
    height: 70vh;
    color: white;
}

.homepage h2 {
    font-size: 2rem;
}

.fe-main,
.be-main {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 60%;
    height: 50vh;
}

h3 {
    opacity: 0;
    font-size: 50px;
    color: white;
    margin: 0;
}
.gif {
    display: none;
}
.door {
    flex: 1;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 5px;
    margin: 0 5px 0 5px;
    transition: flex ease 0.8s;
    &:hover {
        flex: 7;
        h3 {
            opacity: 1;
        }
        .gif {
            display: block;
        }
    }
}

.door-1 {
    background-image: url('../../assets/backgrounds/blackrose.jpg');
}
.door-2 {
    background-image: url('../../assets/backgrounds/blackrose.jpg');
}
.door-3 {
    background-image: url('../../assets/backgrounds/blackrose.jpg');
}
.door-4 {
    background-image: url('../../assets/backgrounds/blackrose.jpg');
}
.enter-header {
    color: white;
    padding: 0 10px 0 10px;
}
footer {
    color: white;
    padding: 0 10px 0 10px;
} 

@media only screen
and (min-width : 0px)
and (max-width : 1895px) {
    .door h3 {
        font-size: 30px;
    }
}
@media only screen
and (min-width : 0px)
and (max-width : 600px) {
    .fe-main,
    .be-main {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .door {
        min-height: 300px;
    }
}
@media only screen
and (min-width : 0px)
and (max-width : 500px) {
    .title h1 {
        font-size: 50px;
    }
}
