

.curtain-left,
.curtain-right {
    /* position: fixed; */
    top: 0;
    height: 100vh;
    width: 50%;
    background-color: rgb(74, 0, 0);
    z-index: 1000;
    /* background-image: url(../../assets/wizbiz/death-demon.gif); */
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */

    
}
.curtain-left {
    position: fixed;
    left: 0;
    background-position: right;
    /* background-image: url(../../assets/backgrounds/bg-27.gif); */
    /* background-image: url(../../assets/welcome/welcome-1.gif); */
    /* background-image: url(../../assets/backgrounds/back-4.jpeg); */
    animation: open-curtain 2s forwards;
    animation-delay: 2s;
    /* animation: rotateLeft 2s 2s forwards; */
}
.curtain-right {
    position: fixed;
    right: 0;
    background-position: left;
    /* background-image: url(../../assets/backgrounds/bg-27.gif); */
    /* background-image: url(../../assets/dragons/dragon1.gif); */
    /* background-image: url(../../assets/backgrounds/back-4.jpeg); */
    animation: open-curtain 2s forwards;
    animation-delay: 2s;
    /* animation: rotateRight 2s 2s forwards; */
}

/* @keyframes rotateLeft {
    from {
        transform: rotate(0deg);
        transform-origin: top right; 
    }
    to {
        transform: rotate(90deg); 
        transform-origin: top right;
    }
}
@keyframes rotateRight {
    from {
        transform: rotate(0deg);
        transform-origin: top left; 
    }
    to {
        transform: rotate(-90deg); 
        transform-origin: top left;
    }
} */


@keyframes open-curtain {
    from { 
        width: 50%; 
    }
    to {
        width: 0; 
    }
}

/* .scroll-watcher {
    height: 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: red;
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}

@keyframes scroll-watcher {
    to {scale: 1 1;}
} */    


/* TITLE */
/* TITLE */
/* TITLE */
.header-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.mod-main {
    display: flex;
    flex-direction: column;
    gap: 150px;
}
.mod-title {
    /* align-items: flex-start; */
    /* position: relative; */
    /* margin: 20px auto; */
    border-radius: 75px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
}
  
.mod-title h1 {
    /* font-size: 30px;
    font-weight: 100; */
    color: rgb(255, 255, 255);
    /* margin: 0; */
}
.mod-title p {
    /* margin: 0; */
    color: rgb(255, 0, 0);
    /* font-family: 'Bungee Hairline', cursive;
    font-weight: 1000;
    font-size: 5px;
    margin: 0 0 20px 0; */
}
nav {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}
.nav-button {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/* SECTION */
/* SECTION */
/* SECTION */
.mod-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    width: 75%;
    height: 70vh;
    padding: 30px;
    color: white;
    background-color: rgb(28, 28, 28);
    /* border-image: linear-gradient(to right, darkred, red); */
    /* border-image-slice: 1; */
    /* border-style: solid; */
}
.h1-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}
/* #sec-1 {
    background-image: url('../../assets/backgrounds/back-1.jpeg');
} */
/* #sec-2 {
    background-image: url('../../assets/backgrounds/back-2.jpeg');
} */
#sec-5 a {
    margin-top: 10px;
    color: aliceblue;   
}
.mod-section h2 {
    font-family: Bungee Hairline;
    margin-bottom: 0;
}
.mod-section h1 {
    font-size: 25px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    width: 85%;
    margin-bottom: 0;
}


@media only screen
and (min-width : 0px)
and (max-width : 1380px) {
    .mod-section h1 {
        font-size: 30px;
    }
}
@media only screen
and (min-width : 0px)
and (max-width : 1280px) {
    .mod-title h1 {
        font-size: 100px;
    }
}
@media only screen
and (min-width : 0px)
and (max-width : 1070px) {

    .mod-title {
        width: 100%;
    }
}
@media only screen
and (min-height : 0px)
and (max-height : 1000px) {
    .mod-h1 {
        margin-bottom: 120px;
    }
}
@media only screen
and (min-width : 0px)
and (max-width : 969px) {
    .mod-title h1 {
        font-size: 70px;
    }
}
@media only screen
and (min-width : 0px)
and (max-width : 877px) {
    .mod-header {
        display: none;
    }
    .mod-section {
        height: 100vh;
        padding-left: 5px;
        padding-right: 5px;
        width: 90%;
        color: white;
    }
    .mod-section h1 {
        font-size: 25px;
    }
    /* .mod-div {
        margin-top: 200px;
    } */
    #phone {
        display: flex;
    }
    .mod-title {
        margin-top: 200px;
        align-items: center;
    }
    .animated-heading {
        text-align: center;
    }
    .mod-title p {
        /* margin: 0; */
        font-size: 20px;
        margin: 0 0 20px 0;
        padding: 0;
    }
}
@media only screen
and (min-width : 0px)
and (max-width : 420px) {
    .mod-title h1 {
        font-size: 50px;
    }
}