/* MODERN HEADER */
/* MODERN HEADER */
/* MODERN HEADER */
.mod-header {
    display: flex;
    justify-content: space-around;
    text-align: center;
    position: fixed;
    /* background-color: var(--title-color); */
    background-color: black;
    opacity: 50%;
    width: 100vw;
    /* border: 1px dashed rgb(0, 0, 0); */
    z-index: 10;
}
.mod-header h1 {
    margin: 0;
    font-size: 50px;
    color: black;
}
.link-con {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
}
.link-con h2 {
    opacity: 100%;
}
.mod-header a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-family: sans-serif;
}
.mod-header a:hover {
    color: black;
    text-decoration: line-through;
}
