/* App.css */
.app {
    transition: background-color 0.3s;
  }
  
  .light-mode {
    background-color: white;
    color: black;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }
  