body {
  /* background-color: black; */
  /* background-image: url(./assets/backgrounds/back-1.jpeg); */
  /* background-image: url(./assets/backgrounds/back-2.jpeg); */
  /* background-image: url(./assets/backgrounds/bg-27.gif); */
  /* background-image: url(./assets/images/white-b.jpg); */
  /* background-image: url(./assets/images/skull.jpeg); */
  /* background-image: url(./assets/images/fan.jpeg); */
  /* background-image: url(./assets/images/krez.jpeg); */
  background-color: black;
  margin: 0; 
  height: 100vh;
}

.huh {
  width: 30px;
}
.mod-header h1 {
  font-family: 'Rock Salt', cursive;
}
.mod-title h1 {
  font-family: 'Rock Salt', cursive;
}
h1 {
  font-size: 90px;
}
a {
  cursor: pointer;
}

/* p {
  font-family: sans-serif;
} */