body {
  /* background-color: black; */
  background-image: url(./assets/backgrounds/back-1.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-image: url(./assets/backgrounds/back-2.jpeg); */
  margin: 0;
}


h1 {
  /* font-family: fondamento; */
  /* font-family: faster one; */
  font-size: 100px;
}

/* p {
  font-family: fondamento;
} */