@import url('https://fonts.googleapis.com/css2?family=Fondamento&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fondamento&family=Rock+Salt&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Fondamento&family=Rock+Salt&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee+Hairline&family=Rock+Salt&display=swap');


body {
  background-color: black;
  margin: 0; 
  padding: 0;
  /* height: 100vh; */
}
body::-webkit-scrollbar {
  width: 0;
}

.huh {
  width: 30px;
}

h1 {
  font-size: 90px;
}
a {
  cursor: pointer;
}

/* p {
  font-family: sans-serif;
} */