.border-ext {
    /* border: 1px solid rgb(44, 44, 44); */
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    z-index: 1;
}
.border-int {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(20, 20, 20);
    /* border: 1px solid black; */
    border-radius: 10px;
    align-items: center;
    text-align: center;
    padding: 0 60px 20px 60px;
    gap: 4rem;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    z-index: 2;
}
.logo-1 {
    width: 500px;
}
.divider {
    margin: 0px;
} 

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-nav {
    display: flex;
    align-items: center;
    color: white;
    margin: 0px;
    gap: 6rem;
}
/* .border-int.inactive {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    margin: 20px 0 10px 0;
    padding: 0 60px 20px 60px;
    gap: 4rem;
    opacity: 0;
    animation: fadeOut 0.2s ease-out forwards;
} */
/* .blur.inactive {
    opacity: 0;
    animation: fadeOut 0.2s ease-out forwards;
} */
.border-ext.inactive {
    opacity: 0;
    animation: fadeOut 0.2s ease-out forwards;
}
@media (max-width: 777px) {
    .glass-container, .glass-container-inactive {
        height: 70vh;
    }
    .logo-1 {
        width: 300px;
    }
    .divider {
        margin: 0;    
        width: 300px;
    }
    .title-nav {
        flex-direction: column;
        gap: 1rem;
    }
}
@media (max-width: 500px) {
    .glass-container h1, .glass-container.inactive h1 {
        font-size: 1.5rem;
    }
    .glass-container h2, .glass-container.inactive h2 {
        font-size: 1rem;
    }
}
