.card {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
} 
.card.visible {
    opacity: 1;
}
#section-welcome {
    display: flex;
    justify-content: center;
}
/* #section-1 { */
/*         background-image: url('./src/assets/backgrounds/back-2.jpeg'); */
/* } */
.welcome { 
    padding-top: 10px;
}
.html {
    width: 140px;
}
.css {
    width: 100px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.form.visible {
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 1;
}
.form-div {
    display: flex; 
    flex-direction: column;
}
