.card{
    opacity: 0;
    transition: opacity 1s ease-in-out;
} 
.card.visible {
    opacity: 1;
}
#section-welcome {
    display: flex;
    justify-content: center;
}
.welcome {
    padding-top: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-div {
    display: flex;
    flex-direction: column;
}
