.header {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.triangle {
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-bottom: 86.6vh solid red; /* Adjust the color as needed */
    position: absolute;
    top: 0;
    left: 0;
  }
#light-header {
    background-color: white;
}
#dark-header {
    background-color: black;
}

.light-h1 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    margin: 0;
    color: white;
}
.dark-h1 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    margin: 0;
    color: black;

}
.light-p {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.dark-p {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}