/* MODERN HEADER */
.mod-div {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}

.mod-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    background-color: darkred;
    padding: 0 20px 0 20px;
    height: 100vh;
    /* border: 1px solid white; */
}

.mod-h2 {
    color: white;
    text-decoration: none;
}

.mod-h2:hover {
    text-decoration: line-through;
}

.mod-con {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.mod-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 50px 0 0;
    height: 100vh;
    color: darkred;
}

.mod-main {
    height: 100vh;
}

/* OLD WEB HEADER */
.ow-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 50px 0px 50px;
    background-image: url(../../assets/images/black-wood.jpg);
    /* background-image: url(../../assets/backgrounds/blackrose.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-repeat: repeat-x; */
    height: 100vh;
}

.ow-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    background-color: black;
}

.heraldry {
    width: 200px;
}

#left {
    padding-left: 15px;
}

#right {
    padding-right: 15px;
}

.ow-h1-con {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ow-h1 {
    margin: 0;
    color: darkred;
}

.ow-p {
    color: white;
}

/* OLD WEB SECTIONS */
.ow-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50vh;
    width: 100%;
    padding-top: 50px;
    background-color: black;
}

/* LEFT */
.ow-section-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid white;
}

/* MID */
.ow-section-mid {
    display: flex;
    flex-direction: column;
    width: 55%;
    color: white;
}

.ow-section-mid-p {
    margin-top: 0;
}

/* RIGHT */
.ow-section-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 20px;
    border-left: 1px solid white;
}